@import "tailwindcss";
input::-ms-reveal,
input::-ms-clear {
  display: none;
}
/* hide scrollbar for all elements with scrollbar-none class */
.scrollbar-none::-webkit-scrollbar {
  display: none;
}
.scrollbar-none {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
